<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="resources">
    <a href="https://www.npmjs.com/package/@sedeh/gallery-lift">npm install @sedeh/gallery-lift</a>
    <p>Tested On Safari, Chrome, Mozilla, and IE11 browsers.</p>
</div>

<gallery-lift
  preview="3"
  layout="large-on-sides"
  [template]="myTeplate"
  [gallery]="myGallery"
  (onselect)="onselect($event)"></gallery-lift>

<ng-template #myTeplate let-detail="data" let-current="selected" let-total="total">
    <span>{{current}} of {{total}}</span>
    <h3>{{detail.title}}</h3>
    <p>{{detail.description}}</p>
</ng-template>

<ul class="logger">
  <li *ngFor="let x of events" [textContent]="x | json"></li>
</ul>