<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="resources">
    <a href="https://www.npmjs.com/package/@sedeh/gallery-lift">npm install @sedeh/gallery-lift</a>
    <p>Tested On Safari, Chrome, Mozilla, and IE11 browsers.</p>
</div>
<div class="controllers">
  <fieldset>
    <legend>Preview Layout Options</legend>
    <label for="large-on-single"><input id="large-on-single" name="viewOption" type="radio" [checked]="viewOption === 'large-on-single'" (click)="viewOption = 'large-on-single'" />large-on-single</label>
    <label for="split-on-dual"><input id="split-on-dual" name="viewOption" type="radio" [checked]="viewOption === 'split-on-dual'" (click)="viewOption = 'split-on-dual'" />split-on-dual</label>
    <label for="large-on-right"><input id="large-on-right" name="viewOption" type="radio" [checked]="viewOption === 'large-on-right'" (click)="viewOption = 'large-on-right'" />large-on-right</label>
    <label for="split-on-quadruple"><input id="split-on-quadruple" name="viewOption" type="radio" [checked]="viewOption === 'split-on-quadruple'" (click)="viewOption = 'split-on-quadruple'" />split-on-quadruple</label>
    <label for="large-on-middle"><input id="large-on-middle" name="viewOption" type="radio" [checked]="viewOption === 'large-on-middle'" (click)="viewOption = 'large-on-middle'" />large-on-middle</label>
    <label for="large-on-left"><input id="large-on-left" name="viewOption" type="radio" [checked]="viewOption === 'large-on-left'" (click)="viewOption = 'large-on-left'" />large-on-left</label>
    <label for="large-on-sides"><input id="large-on-sides" name="viewOption" type="radio" [checked]="viewOption === 'large-on-sides'" (click)="viewOption = 'large-on-sides'" />large-on-sides</label>
    <label for="large-on-top"><input id="large-on-top" name="viewOption" type="radio" [checked]="viewOption === 'large-on-top-double'" (click)="viewOption = 'large-on-top'" />large-on-top</label>
    <label for="large-on-top-triple"><input id="large-on-top-triple" name="viewOption" type="radio" [checked]="viewOption === 'large-on-top-triple'" (click)="viewOption = 'large-on-top-triple'" />large-on-top-triple</label>
    <label for="large-on-top-quadruple"><input id="large-on-top-quadruple" name="viewOption" type="radio" [checked]="viewOption === 'large-on-top-quadruple'" (click)="viewOption = 'large-on-top-quadruple'" />large-on-top-quadruple</label>
    <label for="layered-on-middle"><input id="layered-on-middle" name="viewOption" type="radio" [checked]="viewOption === 'layered-on-middle'" (click)="viewOption = 'layered-on-middle'" />layered-on-middle</label>
    <label for="layered-on-corners"><input id="layered-on-corners" name="viewOption" type="radio" [checked]="viewOption === 'layered-on-corners'" (click)="viewOption = 'layered-on-corners'" />layered-on-corners</label>
    <label for="random"><input id="random" name="viewOption" type="radio" [checked]="viewOption === 'random'" (click)="viewOption = 'random'" />random</label>
  </fieldset>
  <fieldset>
    <legend>Preview policy</legend>
    <label for="hoverMessage">Hover Message: 
      <input id="hoverMessage" name="hoverMessage" [style.width]="'100px'" [value]="hoverMessage" (keyup)="hoverMessage = $event.target.value" />
    </label>
    <label for="maxHeight">Max Height: 
      <input id="maxHeight" name="maxHeight" [style.width]="'50px'" [value]="maxHeight" (keyup)="maxHeight = $event.target.value" />
    </label>
    <label for="border">Border: 
      <input id="border" name="border" [style.width]="'100px'" [value]="border" (keyup)="border = $event.target.value" />
    </label>
    <label for="showTitleOnHover">
      <input id="showTitleOnHover" name="showTitleOnHover" type="checkbox" [checked]="showTitleOnHover === true" (change)="showTitleOnHover = !showTitleOnHover" />
      Show Title On Hover
    </label>
    <label for="showMessageOnHover">
      <input id="showMessageOnHover" name="showMessageOnHover" type="checkbox" [checked]="showMessageOnHover === true" (change)="showMessageOnHover = !showMessageOnHover" />
      Show Hover Message
    </label>
    <label for="showRemainingCount">
      <input id="showRemainingCount" name="showRemainingCount" type="checkbox" [checked]="showRemainingCount === true" (change)="showRemainingCount = !showRemainingCount" />
      Show Remaining Count
    </label>
  </fieldset>
  <fieldset>
    <legend>Lift policy</legend>
    <label for="liftOnZero">
      <input id="liftOnZero" name="liftOnZero" type="checkbox" [checked]="liftOnZero === true" (change)="liftOnZero = !liftOnZero" />
      Lift On Zero
    </label>
    <label for="sideBySide">
      <input id="sideBySide" name="sideBySide" type="checkbox" [checked]="sideBySide === true" (change)="sideBySide = !sideBySide" />
      Show imagery and info side by side
    </label>
    <label for="magnifyImageEnabled">
      <input id="magnifyImageEnabled" name="magnifyImageEnabled" type="checkbox" [checked]="magnifyImageEnabled === true" (change)="magnifyImageEnabled = !magnifyImageEnabled" />
      Show Magnify Image button On Mobile
    </label>
  </fieldset>
</div>
  
<gallery-lift
  [sideBySide]="sideBySide"
  [hoverMessage]="hoverMessage"
  [magnifyImageEnabled]="magnifyImageEnabled"
  [showMessageOnHover]="showMessageOnHover"
  [maxHeight]="maxHeight"
  [showTitleOnHover]="showTitleOnHover"
  [borderOnView]="border"
  [layout]="viewOption"
  [liftOnZero]="liftOnZero"
  [showRemainingCount]="showRemainingCount"
  [template]="myTeplate"
  [gallery]="myGallery"
  (onaction)="onaction($event)"
  (onselect)="onselect($event)"></gallery-lift>

<ng-template #myTeplate let-detail="data" let-current="selected" let-total="total">
    <span>{{current}} of {{total}}</span>
    <h3>{{detail.title}}</h3>
    <p>{{detail.description}}</p>
</ng-template>

<ul class="logger">
  <li *ngFor="let x of events" [textContent]="x | json"></li>
</ul>