:host {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  padding: 0;
  margin: 5px;
  .off-screen {
    display:block;
    width: 1px;
    height: 1px;
    position: absolute;
    left: -99999px;
    top: -99999px;
  }
  .lift {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    z-index: 99;
    background-color: rgba(0,0,0,0.8);
    .left-controls {
      width: 30px;
      height: 100vh;
      color: #fff;
      background-color: transparent;
      padding: 20% 0;
      a {
        font-size: 1.8rem;
        cursor: pointer;
        text-align: center;
        width: 100%;
        &:hover {
          color: #ccc;
        }
      }
    }
    .lifter {
      flex: 1;
      display: flex;
      flex-direction: row;
      .lift-view {
        flex: 1;
        margin: 20px;
        img {
          border: 2px solid #fff;
        }
      }
      .lift-info {
        width: 300px;
        background-color: #fff;
        margin: 20px 15px 16px 15px;
        padding: 10px;
        border: 2px solid #555;
      }  
    }
    .right-controls {
      width: 30px;
      height: 100vh;
      color: #fff;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      padding: 20% 0;
      .close {
        position: absolute;
        right: 0;
        top: 5px;
        width: 33px;
      }
      .fa-expand {
        position: absolute;
        right: 0;
        top: 44px;
        width: 33px;
        font-size: 1.5rem;
      }
      a {
        font-size: 1.8rem;
        cursor: pointer;
        text-align: center;
        width: 100%;
        &:hover {
          color: #ccc;
        }
      }
      .download {
        position: absolute;
        right: 0;
        bottom: 30px;
        font-size: 1.5rem;
        width: 33px;
        color: #fff;
      }

    }
  }
  .viewport {
    display: inline-grid;
    grid-gap: 0;
    background-color: #2196F3;
    padding: 0;
    div {
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      padding: 0;
      font-size: 30px;
      position: relative;
      background-size: cover;
      background-position: center;
      cursor: pointer;
      &:hover,
      &:focus {
        -webkit-filter: brightness(70%);
        -moz-filter: brightness(70%);
        -o-filter: brightness(70%);
        -ms-filter: brightness(70%);
        filter: brightness(70%);
        .more {
          display: inline;
        }
      }

      .more {
        display: none;
        width: 100%;
        background-color: black;
        color: white;
        font-size: 1.2rem;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 5px;
      }
      &:nth-child(1) { grid-area: tl; }
      &:nth-child(2) { grid-area: bl; }
      &:nth-child(3) { grid-area: center; }
      &:nth-child(4) { grid-area: tr; }
      &:nth-child(5) { grid-area: br; }
    }
    &.c1 {
      grid-template-areas: 'tl';
    }
    &.c2 {
      grid-template-columns: 50% 50%;
      grid-template-areas: 'tl bl';
    }
    &.c3 {
      grid-template-columns: 32% auto;
      grid-template-areas: 
        'tl center center'
        'bl center center';
    }
    &.c4 {
      grid-template-columns: 50% 50%;
      grid-template-areas:
      'tl center'
      'bl tr';
    }
    &.c5 {
      grid-template-columns: 25% auto 25%;
      grid-template-areas:
      'tl center center tr'
      'bl center center br';
    }
    &.rc3 {
      grid-template-columns: auto 30%;
      grid-template-areas:
      'tl tl bl'
      'tl tl center';
    }
    &.rc4 {
      grid-template-columns: 30% auto 30%;
      grid-template-areas:
       'tl bl tr'
       'tl center tr';
    }
  }
  @media only screen and (max-width: 600px) {
    .lift {
      .lifter {
        flex-direction: column;
        .lift-info {
          width: auto;
          margin: 20px;
          overflow-y: auto;
        }
      }
    }
  }
}