
<div class="viewport {{displayType}}">
    <div *ngFor="let row of layList; let i = index"
        (keyup)="keyup($event)"
        (click)="liftUpImagery(i)"
        class="view"
        [style.max-height]='maxHeightOf(i)'
        [attr.tabindex]="liftup ? -1: 0">
        <span class="off-screen">
            <ng-container 
                *ngIf="template"
                [ngTemplateOutlet]="template" 
                [ngTemplateOutletContext]="{data: gallery[i].data, selected: i+1, total: gallery.length}"></ng-container>
        </span>
        <div *ngIf="showTitleOnHover" class="title">{{gallery[i].data.title}}</div>
        <img *ngIf="gallery[i].type === 'image'" aria-hidden="true" width="100%" height="100%" [src]="gallery[i].src" />
        <video *ngIf="gallery[i].type === 'video'" width="100%" [attr.src]="gallery[i].src" disabled></video>
        <div *ngIf="showRemainingCount && i === (layList.length - 1)" class="counter">+ {{gallery.length - i - 1}}</div>
        <div *ngIf="showMessageOnHover" class="more">{{hoverMessage}}</div>
    </div>
</div>
<div class="lift" *ngIf="liftup">
    <div class="left-controls">
        <a *ngIf="selectedIndex>0"  title="View previous"
            class="fa fa-chevron-left" tabindex="0"
            (keyup)="keyup($event)"
            (click)="previous()"></a>
    </div>
    <div class="lifter">
        <div class="lift-view"
            (mouseover)="hoverOver($event)">
            <img *ngIf="gallery[selectedIndex].type === 'image'"  aria-hidden="true" width="100%" height="100%" [src]="gallery[selectedIndex].src" />
            <video *ngIf="gallery[selectedIndex].type === 'video'" 
                width="100%" 
                [attr.src]="gallery[selectedIndex].src" 
                (play)="videoEvent($event)"
                (pause)="videoEvent($event)"
                (ended)="videoEvent($event)"
                (seeked)="videoEvent($event)"
                (error)="videoEvent($event)"
                (fullscreenchange)="videoEvent($event)"
                controls></video>
        </div>
        <div class="lift-info">
            <ng-container 
                *ngIf="template"
                [ngTemplateOutlet]="template" 
                [ngTemplateOutletContext]="{data: gallery[selectedIndex].data, selected: selectedIndex+1, total: gallery.length}"></ng-container>
        </div>
    </div>
    <div class="right-controls">
        <a tabindex="0" class="close fa fa-close" title="Close viewer" #closeButton
            (click)="liftDownImagery()" 
            (keyup)="keyup($event)"></a>
        <a (click)="fullScreen()" class="fa fa-expand"></a>
        <a *ngIf="showMore(closeButton)" title="View next"
            class="next fa fa-chevron-right" tabindex="0" 
            (keyup)="keyup($event)"
            (click)="next()"></a>
        <a [href]="gallery[selectedIndex].src"  title="download" class="download fa fa-download" download></a>
    </div>
</div>
