:host {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  padding: 0;
  margin: 5px;
  .off-screen {
    display:block;
    width: 1px;
    height: 1px;
    position: absolute;
    left: -99999px;
    top: -99999px;
  }
  .viewport {
    display: inline-grid;
    grid-gap: 0;
    width: 100%;
    background-color: #000;
    padding: 0;
    .view {
      text-align: center;
      padding: 0;
      position: relative;
      box-sizing: border-box;
      display: flex;
      overflow: hidden;
      img, video {
        object-fit: cover;
      }
      cursor: pointer;
      &:hover,
      &:focus {
        &.dim-on-hover {
          -webkit-filter: brightness(80%);
          -moz-filter: brightness(80%);
          -o-filter: brightness(80%);
          -ms-filter: brightness(80%);
          filter: brightness(80%);
        }
        .more, .title {
          opacity: 1;
        }
      }
      .counter {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        color: #fff;
        font-size: 2.2rem;
        position: absolute;
        top: 0;
        overflow: hidden;
        box-sizing: border-box;
      }
      .title {
        opacity: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.7);
        transition: 0.3s ease-out;
        color: white;
        position: absolute;
        left: 0;
        top: 0;
        padding: 5px;
        overflow: hidden;
        z-index: 2;
      }
      .more {
        opacity: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.7);
        transition: 0.3s ease-out;
        color: white;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 5px;
        z-index: 2;
        .enlarge {
          position: absolute;
          right: 20px;
        }
      }
      &:nth-child(1) { grid-area: tl; }
      &:nth-child(2) { grid-area: bl; }
      &:nth-child(3) { grid-area: center; }
      &:nth-child(4) { grid-area: tr; }
      &:nth-child(5) { grid-area: br; }
    }
    &.c1 {
      grid-template-areas: 'tl';
      .title, .more {
        font-size: 1rem;
      }
    }
    &.c2 {
      grid-template-columns: 50% 50%;
      grid-template-areas: 'tl bl';
      .title, .more {
        font-size: 1rem;
      }
    }
    &.c3 {
      grid-template-columns: 32% auto;
      grid-template-areas: 
        'tl center center'
        'bl center center';
      .title, .more {
        font-size: 1rem;
      }
    }
    &.c4 {
      grid-template-columns: 50% 50%;
      grid-template-areas:
      'tl center'
      'bl tr';
      .title, .more {
        font-size: 1rem;
      }
    }
    &.c5 {
      grid-template-columns: 25% auto 25%;
      grid-template-areas:
      'tl center center tr'
      'bl center center br';
      .title, .more {
        font-size: 0.9rem;
      }
    }
    &.rc3 {
      grid-template-columns: auto 30%;
      grid-template-areas:
      'tl tl bl'
      'tl tl center';
      .title, .more {
        font-size: 0.9rem;
      }
    }
    &.rc4 {
      grid-template-columns: 30% auto 30%;
      grid-template-areas:
       'tl bl tr'
       'tl center tr';
      .title, .more {
        font-size: 0.9rem;
      }
    }
    &.rc5 {
      grid-template-columns: 50% 50%;
      grid-template-areas:
       'tl tl'
       'bl center';
      .title, .more {
        font-size: 0.9rem;
      }
    }
    &.rc6 {
      grid-template-columns: 33% auto 33%;
      grid-template-areas:
       'tl tl tl'
       'bl center tr';
      .title, .more {
        font-size: 0.9rem;
      }
    }
    &.rc7 {
      grid-template-columns: 25%  25%  25%  25%;
      grid-template-areas:
       'tl tl tl tl'
       'bl center tr br';
      .title, .more {
        font-size: 0.9rem;
      }
    }
    &.mc1 {
      grid-template-columns: 50%  50%;
      grid-template-areas:
       'tl tl'
       'bl center'
       'tr tr';
      .title, .more {
        font-size: 0.9rem;
      }
    }
    &.mc2 {
      grid-template-columns: 50%  50%;
      grid-template-areas:
       'tl bl'
       'center center'
       'tr br';
      .title, .more {
        font-size: 0.9rem;
      }
    }
  }
}